
# Reload environment if either of these files change
watch_file uv.lock .api_keys

# Activate the python envrionment
[ -f .venv/bin/activate ] && source .venv/bin/activate

# Fix to direnv issue when activating envs
unset PS1

# Add api keys
[ -f .api_keys ] && source .api_keys
